.generate {
  border-radius: 20px;
  font-size: 20px;
  margin: auto;
  display: block;
}

.quotes {
  text-align: center;
}

.author {
  text-align: center;
  font-size: 20px;
}

.error {
  color: red;
  text-align: center;
}

.identify {
  text-align: center;
}
